/* Diseños de la actividad */
.box {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    align-items: center;
    justify-content: space-evenly;
}

.box1 {
    display: flex;
    flex-direction: column;
}